

.color-primary-0 { color: #24626E }	
.color-primary-1 { color: #598F99 }
.color-primary-2 { color: #3A7682 }
.color-primary-3 { color: #124D58 }
.color-primary-4 { color: #04353E }


body {
	background-color: 	#24626E;
	margin: 			0;
	height: 			2232px;
}

#base {
	background-color: 	#FFFFFF;
	height: 			100%;
	width: 				1437px;
	margin-left: 		auto;
    margin-right: 		auto;
	margin-top: 		0px;
	margin-bottom: 		0px;
}

#top {
	background-color: 	#598F99;
	height: 			300px;
	width: 				100%;
	margin-left: 		auto;
    margin-right: 		auto;


}

#logo {
	background-color: 	#3A7682;
	height: 			300px;
	width: 				300px;
	margin-left: 		0px;
    margin-right: 		auto;
}

#left {
	background-color: 	#04353E;
	height: 			1932px;
	width: 				150px;
	margin-left: 		0px;
    margin-right: 		auto;

}

#user  {
	

}

#avatarbox {
	background-color: 	#124D58;
	height: 			150px;
	width: 				150px;
}

#avatar {
	padding:			10px;
	height: 			130px;
	width: 				130px;
}

#info {


}
       
#main { 
	position: 			relative;
	background-color: 	#FFFFFF;
	height: 			1936px;
	width: 				1288px;
	margin-left: 		auto;
    margin-right: 		auto;
	top:				-1932px;
	left:				75px;
}

.menuItem {
	padding:			10px;
	height: 			130px;
	width: 				130px;
}

#tdiv {  
	position: 			relative;
	height: 			30px;
	width: 				30px;
	top: 				-300px;
	margin-left: 		35%;
    margin-right: 		65%;			
}
     
#title {
	position: 			absolute;

	top: 				0px;
	left: 				0px;
	
} 

.post {
	position: 			absolute;
	height: 			322px;
	width: 				322px;
	background-color: 	#000000;
}
  
  
.imgPostimg {
	height:				312px;
	width:				312px;
	padding: 			5px;
}

.textPosttxt {
	position: 			absolute;
	top: 				-32.5px;
	left: 				5px;
	height:				312px;
	width:				312px;
	padding: 			0px;
	background-color: 	#3A7682;
	font-size: 			250%;
} 
